<div class="container">
    <h1>Welcome to IronShop.es !</h1>
    <hr>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias culpa commodi eaque atque sunt, consequuntur
        maxime reiciendis incidunt eligendi fugiat, in perferendis earum repellat tempore! Expedita eaque placeat veniam
        ipsam?</p>
    <hr>
</div>